build/
Build/
bin/
obj/

# MAC-stuff
.DS_Store


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# MFC-related
*.sdf
*.ncb
ipch/
Debug/
Release/

#Python-related
.ipynb_checkpoints/
*.pyc

